.h1 What We Do
.container
  .row
    %p Nimble Number Analytics is your source for custom analytics, business intelligence, and cutting-edge data science development. From survey design to pricing strategy to SEO marketing to locaiton-based machine learning, Nimble Number Analytics wants to work with you to build a solution that meets your needs and helps your business.
    %li Designed analysis of internal survey for a large investment fund.
    %li Analyzed data for the world's number 1 prank calling site in order to identify trends in popularity, purchases, and usage to increase revenues.
.h1 Who We Are
.container
  .row
    %p Nimbel Number Analytics was started by Jed and Michael, two friends who share a passion for using data to make the world a better place. Michael cut his teeth using microeconometrics to estimate water price elasticities, value the burden of disease among lupus patients, and model the behavior of children in foster care. Jed has used his extensive experience in statistics and machine learning to predict movie revenues, identify hotspots in instagram photos, and modeled SAT scores based on essay content.
.h1 Contact Details
.container
  .row
    %p email: <a href = 'mailto:michael@nimblenumber.com'> Michael </a> or <a href = 'mailto:jed@nimblenumber.com'> Jed </a>
    %p twitter: <a href = 'https://twitter.com/nimblenumber'> @nimblenumber </a>
